# Node.js dependencies
node_modules/

# Build output
/dist

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.jfm
